body {
    font-family: 'Roboto', sans-serif;
}

.header {
    box-shadow: 1px 2px 8px #e0e0e0;
    margin-bottom: 10px;
}

.heading {
    margin: 0;
    font-size: 24px;
    color: #666;
    text-align: center;
    padding: 40px;
}

.wrapper {
    margin: 0 40px;
}

.main {
    margin: 0;
    padding: 0;
}

.main_item {
    font-size: 14px;    
    border-bottom: 1px #e0e0e0 solid;
    color: #666;
    padding: 20px;
    margin: 0;
    list-style-position: inside;
    position: relative;
}

.main_item-status1 {
    background-color: #03914e;
    color: #fff;
}

.main_item-status2 {
    background-color: #bd0000;
    color: #fff;
}

.main_item-status3 {
    background-color: #e9ab00;
    color: #fff;
}

.main_item:hover #btns {
    display: inline-block;
}

#btns {
    position: absolute;
    right: 10px;
    bottom: -5px;
    display: none;
    z-index: 1;
    /* display: block;
    text-align: end;
    margin-top: 5px; */
}


.btn-ok, .btn-not-ok, .btn-so-so {
    width: 50px;
    height: 25px;
    border-radius: 5px;
    background: #fff;
    border: 1px solid #e0e0e0;
    cursor: pointer;
    font-size: 16px;
    color: #e0e0e0;
}

/* .btn-ok-active, .btn-not-ok-active, .btn-so-so-active {
    background: #fff;
}

.btn-ok-active {
    color: #03914e;
}

.btn-not-ok-active {
    color: #bd0000;
}

.btn-so-so-active {
    color: #e9ab00;
} */

.btn-so-so {
    font-size: 19px;
}

.btn-ok:hover, .btn-not-ok:hover, .btn-so-so:hover {
    background: #fff;
    
}

.btn-ok:hover {
    color: #03914e;
}

.btn-not-ok:hover {
    color: #bd0000;
}

.btn-so-so:hover {
    color: #e9ab00;
}

.btn-ok:active, .btn-not-ok:active, .btn-so-so:active {
    transform: scale(.9);
}

/* #ok-btn { */
    /* border-left: 1px solid #d4d4d4; */
/* } */

/* #ok-btn, #notOk-btn {
    margin-right: 10px;
} */
